doctype html
html(style="height:100%;")
  head
    title A story about Lizery
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css" href="/stylesheets/lizery.css")
  body
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603693062713519979.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603697750598505887.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603699313217033304.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603708688978005120.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603718064788976936.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603722752664962844.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603735253677691322.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603741504132204648.jpg")
    div.container
      img(src=hostPath+"/ueditor143/upload/image/20170710/6363529603746192017190556.jpg")
